{% extends "moneio/layout.html" %}
{% load static %}

{% block body %}
  <!-- Default View -->
  <div id="defaultView">
    <div>
      <button id="moneyInBtn">Money In</button>
      <button id="moneyOutBtn">Money Out</button>
    </div>
  
    <div>
      <button id="dashboardBtn">Dashboard</button>
      <button id="breakdownBtn">Breakdown</button>
    </div>
  
    <!-- Dashboard View-->
    <div id="dashboardView">
  
      <!-- Accounts -->
      <div>
        <h2>Accounts</h2>
        <ul class="list-group">
          <li class="list-group-item">
            <button id="addAccountBtn">Add Account</button>
          </li>
          {% for account in data.accounts %}
            {% if not account.is_floating %}
              <li class="list-group-item">
                <span>{{ account.name }}</span>
                <span>{{ account.balance }}</span>
              </li>
            {% endif %}
          {% endfor %}
          <li class="list-group-item">
            <span>Total</span>
            <span>{{ data.current_total_balance }}</span>
          </li>
        </ul>
      </div>
    
      <!-- Floating -->
      <div>
        <h2>Floating</h2>
        <ul class="list-group">
          <li class="list-group-item">
            <button id="addFloatingBtn">Add Floating</button>
          </li>
          {% for account in data.accounts %}
            {% if account.is_floating %}
              <li class="list-group-item">
                <span>{{ account.name }}</span>
                <span>{{ account.balance }}</span>
              </li>
            {% endif %}
          {% endfor %}
          <li class="list-group-item">
            <span>Total</span>
            <span>{{ data.current_total_floating }}</span>
          </li>
        </ul>
      </div>
    
      <!-- Gross -->
      <div>
        <h2>Gross</h2>
        <ul class="list-group">
          <li class="list-group-item">
            <span>Total</span>
            <span>{{ data.current_total_gross }}</span>
          </li>
        </ul>
      </div>
    
      <!-- Deductibles -->
      <div>
        <h2>Deductibles</h2>
        <ul class="list-group">
          <li class="list-group-item">
            <span>Total</span>
            <span>{{ data.current_total_deductible }}</span>
          </li>
        </ul>
      </div>
    
      <!-- Net -->
      <div>
        <h2>Net</h2>
        <ul class="list-group">
          <li class="list-group-item">
            <span>Total</span>
            <span>{{ data.current_total_net }}</span>
          </li>
        </ul>
      </div>
    
      <!-- Onhand -->
      <div>
        <h2>Onhand</h2>
        <ul class="list-group">
          <li class="list-group-item">
            <span>Total</span>
            <span>{{ data.current_total_onhand }}</span>
          </li>
        </ul>
      </div>
    </div>
  
    <!-- Breakdown View-->
    <div id="breakdownView">
  
      <!-- Breakdown -->
      <div>
        <h2>Breakdown</h2>
        <ul class="list-group">
          {% for breakdown in data.breakdowns_normals %}
            <li class="list-group-item">
              <span>{{ breakdown.account }}</span>
              <span>{{ breakdown.name }}</span>
              <span>{{ breakdown.price }}</span>
              <span>{{ breakdown.date }}</span>
              <span></span>
            </li>
          {% empty %}
            <li class="list-group-item">
              <span>empty</span>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>

  <!-- Add Account View -->
  <div id="addAccountView">
    <h2>Add Account View</h2>
    <form id="form-account">
      <div>
        <button type="button" id="cancelAddAccountViewBtn">Cancel</button>
        <button type="submit">Confirm</button>
      </div>
      <div>
        <label for="formAccountName" class="form-label">Name</label>
        <input type="text" class="form-control" id="formAccountName" required>
      </div>
      <div>
        <label for="formAccountInitialBalance" class="form-label">Initial Balance</label>
        <input type="number" class="form-control" id="formAccountInitialBalance" min="0" step="0.01" required>
      </div>
      <div>
        <label for="formAccountDate" class="form-label">Date</label>
        <input type="date" class="form-control" id="formAccountDate" required>
      </div>
    </form>
  </div>

  <!-- Money In/ Money Out View -->
  <div id="moneioView">
    <h2>Moneio View</h2>
    <form id="form-moneio">
      <div>
        <button type="button" id="cancelMoneioViewBtn">Cancel</button>
        <button type="submit">Confirm</button>
      </div>
      <div>
        <label for="formMoneioName" class="form-label">Name</label>
        <input type="text" class="form-control" id="formMoneioName" required>
      </div>
      <div>
        <label id="moneioMoneyLabel" for="formMoneioMoney" class="form-label"></label>
        <input type="number" class="form-control" id="formMoneioMoney" min="0" step="0.01" required>
      </div>
      <div>
        <label for="formMoneioAccount" class="form-label">Account</label>
        <select type="text" class="form-select" id="formMoneioAccount" required>
          {% for account in data.accounts %}
            <option>{{ account.name }}</option>
          {% endfor %}
        </select>
      </div>
      <div>
        <label for="formMoneioDate" class="form-label">Date</label>
        <input type="date" class="form-control" id="formMoneioDate" required>
      </div>
    </form>
  </div>
{% endblock %}

{% block script %}
  <script src="{% static 'moneio/index.js' %}"></script>
{% endblock %}
