{% extends "moneio/layout.html" %}
{% load static %}

{% block styles %}
  <link href="{% static 'moneio/transfer.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}

  <!-- Edit Moneio View -->
  <div id="editTransferView">
    <h2>Edit Transfer</h2>
    <form id="form-transfer">
      <div class="mt-2">
        <button type="button" id="cancelEditTransferBtn" class="btn btn-danger btn-sm">Cancel</button>
        <button type="submit" class="btn btn-success btn-sm mx-1">Save</button>
        <button type="button" id="deleteTransferBtn" class="btn btn-warning btn-sm">Delete</button>
      </div>
      <div class="mt-2">
        <label for="formTransferName" class="form-label">Name:</label>
        <input type="text" class="form-control" id="formTransferName" value="{{ transfer.name }}" required>
      </div>
      <div class="mt-2">
        <label for="formTransferMoney" class="form-label">Amount:</label>
        <input type="number" class="form-control" id="formTransferMoney" min="0.01" step="0.01" value="{{ transfer.price }}" required>
      </div>
      <div class="mt-2">
        <label for="formFromAccount" class="form-label">From:</label>
        <select type="text" class="form-select" id="formFromAccount" required>
          <option value="{{ transfer.from_account.name }}">{{ transfer.from_account.name }}</option>
          {% for account in accounts %}
            {% if not account.is_floating %}
              <option value="{{ account.name }}">{{ account.name }} (account)</option>
            {% elif account.is_floating and account.balance >= 0 %}
              <option value="{{ account.name }}">{{ account.name }} (floating)</option>
            {% else %}
              <option value="{{ account.name }}">{{ account.name }} (deductibles)</option>
            {% endif %}
          {% endfor %}
        </select>
      </div>
      <div class="mt-2">
        <label for="formToAccount" class="form-label">To:</label>
        <select type="text" class="form-select" id="formToAccount" required>
          <option value="{{ transfer.to_account.name }}">{{ transfer.to_account.name }}</option>
          {% for account in accounts %}
            {% if not account.is_floating %}
              <option value="{{ account.name }}">{{ account.name }} (account)</option>
            {% elif account.is_floating and account.balance >= 0 %}
              <option value="{{ account.name }}">{{ account.name }} (floating)</option>
            {% else %}
              <option value="{{ account.name }}">{{ account.name }} (deductibles)</option>
            {% endif %}
          {% endfor %}
        </select>
      </div>
      <div class="mt-2">
        <label for="formTransferDate" class="form-label">Date:</label>
        <input type="date" class="form-control" id="formTransferDate" value="{{ date }}" required>
      </div>
    </form>
  </div>
{% endblock%}

{% block script %}
  <script src="{% static 'moneio/transfer.js' %}"></script>
{% endblock %}
